#header {
  background-image: url('../images/paint-texture.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.thumbnail {
  background-color: $dark-turqoise;
}
