#header h1 {
  margin-top: 40px;
  margin-bottom: 50px;
}

.thumbnail {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;

  .caption {
    margin-top: 0px;
    padding: 20px;
  }
}

#right ul {
  padding: 0;
}

#left {
  padding: 0;
}

#footer p {
  margin-top: 5px;
}
