@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "_colors";
@import "_layout";
@import "_utilities";
@import "_backgrounds";

body {
  font-family: "Oswald";
}

#header {
  @extend .center-text;
  height: 50%;
  color: $black;
  font-weight: 700;

  h1 {
    font-size: 500%;
  }

  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 650%;
    }
  }
}

.thumbnail {
  width: 90%;
  @extend .no-border;

  .caption {
    color: $black;
  }

  p {
    font-size: 15px;
  }

  @media only screen and (max-width: 992px) {
    li {
      font-size: 30px;
    }
    h3 {
      font-size: 50px;
    }
    p {
      font-size: 30px;
    }
  }
}

#left {
  @extend .center-text;
}

#main {
  @extend .center-text;
}

#right {
  @extend .center-text;

  ul {
    list-style-type: none;
  }
}
